<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<title>home</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" type="text/css" href="style.css">
<script type="text/javascript" src="./js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="./js/rolling.js"></script>
</head>
<body>
	<div id="container">
		<div id="header"><img src="./imgs/logo.png" height="130px"></div>
		<div id="main">
			<form method="POST" action="/step1">
			<h1>지금부터 메뉴를 정해 볼까요?</h1>
			<p align="center"><button type="submit">start!</button></p>
			</form>
		</div>
		<div id="footer">
			<div class="rolling_wrap">
			<a href="" class="content"><img src="./imgs/poster1.jpg"/></a>
			<a href="" class="content"><img src="./imgs/poster2.jpg"/></a>
			<a href="" class="content"><img src="./imgs/poster3.jpg"/></a>
			<a href="" class="content"><img src="./imgs/poster4.jpg"/></a>
			<a href="" class="content"><img src="./imgs/poster5.jpg"/></a>
			<a href="" class="content"><img src="./imgs/poster6.jpg"/></a>
			<a href="" class="content"><img src="./imgs/poster7.jpg"/></a>
		</div>
		<h2>아니면 오늘은 인기 있는 레시피?</h2>
		</div>
	</div>
</body>
</html>