<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<title>step3</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='./js/jquery-3.1.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/js/rolling.js') }}"></script>
</head>
<body>
	<div id="container">
		<div id="header"><img src="{{ url_for('static', filename='/imgs/logo.png') }}" height="130px"></div>
		<div id="main"><h1>어떤 목적의 요리인가요?</h1>
			<form method="POST" action="/step3">
				<h2><input name="cate" id="cate_daily" type="radio" value="일상 요리" size="20"> 일상 요리</h2>
				<h2><input name="cate" id="cate_speed" type="radio" value="초스피드 요리" size="20"> 초스피드 요리</h2>
				<h2><input name="cate" id="cate_guest" type="radio" value="손님을 위한 요리" size="20"> 손님을 위한 요리</h2>
				<h2><input name="cate" id="cate_none" type="radio" value="선택하지 않음" size="20"> 선택하지 않음</h2>
				<p align="center"><input id="btn" type="submit" name="send" value="Next Step!"></p>
				<input type="hidden" name="gri1" value={{gri1}}>
				<input type="hidden" name="gri2" value={{gri2}}>
				<input type="hidden" name="gri3" value={{gri3}}>
			</form>
		</div>
		<div id="footer"><div class="rolling_wrap">
			<a href="https://www.10000recipe.com/recipe/6876357" class="content"><img src="{{ url_for('static', filename='/imgs/poster1.jpg') }}"/></a>
			<a href="https://www.10000recipe.com/recipe/6903507" class="content"><img src="{{ url_for('static', filename='/imgs/poster2.jpg') }}"/></a>
			<a href="https://www.10000recipe.com/recipe/6915654" class="content"><img src="{{ url_for('static', filename='/imgs/poster3.jpg') }}"/></a>
			<a href="https://www.10000recipe.com/recipe/6897261" class="content"><img src="{{ url_for('static', filename='/imgs/poster4.jpg') }}"/></a>
			<a href="https://www.10000recipe.com/recipe/6896724" class="content"><img src="{{ url_for('static', filename='/imgs/poster5.jpg') }}"/></a>
			<a href="https://www.10000recipe.com/recipe/6885928" class="content"><img src="{{ url_for('static', filename='/imgs/poster6.jpg') }}"/></a>
			<a href="https://www.10000recipe.com/recipe/6873683" class="content"><img src="{{ url_for('static', filename='/imgs/poster7.jpg') }}"/></a>
			<a href="https://www.10000recipe.com/recipe/6884636" class="content"><img src="{{ url_for('static', filename='/imgs/poster8.jpg') }}"/></a>
			<a href="https://www.10000recipe.com/recipe/6891652" class="content"><img src="{{ url_for('static', filename='/imgs/poster9.jpg') }}"/></a>
			<a href="https://www.10000recipe.com/recipe/6871961" class="content"><img src="{{ url_for('static', filename='/imgs/poster10.jpg') }}"/></a>
			<a href="https://www.10000recipe.com/recipe/6912220" class="content"><img src="{{ url_for('static', filename='/imgs/poster11.jpg') }}"/></a>
		</div><h2>레시피 1000국</h2></div>
	</div>
</body>
</html>
