<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<title>step4</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div id="container">
		<div id="header"><img src="{{ url_for('static', filename='/imgs/logo.png') }}" height="130px"></div>
		<div id="main"><h2>당신이 먹고 싶은 음식은 무엇인가요?</h2>
			<form method="POST" action="/result">
				<p align="center"><input name="want" type="text" size="20"></p>
				<p align="center"><input type="submit" name="send" value="-> 결과 보기 ->"></p>
				<input type="hidden" name="gri1" value={{gri1}}>
				<input type="hidden" name="gri2" value={{gri2}}>
				<input type="hidden" name="gri3" value={{gri3}}>
				<input type="hidden" name="cate" value={{cate}}>
			</form>
		</div>
		<div id="footer"><h2>레시피 1000국</h2></div>
	</div>
</body>
</html>